.about-us-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 100px;
  align-items: normal;
  margin-bottom: 96px;
  place-items: center;
}
.about-us-container-reverse{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 100px;
  align-items: normal;
  margin-bottom: 96px;
  place-items: center;
}


.about-us-img{
  width:300px;
  height:300px;
}


.buttons-about-us{
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}